
              <label for="exampleFormControlInput1"><br /><br />Item Type</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" name="item_type">
              <label for="exampleFormControlInput1"><br />Location</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" name="location">
              <label for="exampleFormControlInput1"><br />Return Time</label>
              <input type="datetime-local" class="form-control" id="exampleFormControlInput1" name="return_at">
              <label for="exampleFormControlInput1"><br />Rep Value</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" name="karma">
              <label for="exampleFormControlInput1"><br />Image Link</label>
              <input type="url" class="form-control" id="exampleFormControlInput1" name="image">
            <div class="Item description">
              <label for="exampleFormControlTextarea1"><br />Item Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>

            <p class="text-center"><br /><br /><br /></p>
          </form>
        </div>
      </div>
    </div>

    <p class="text-center"><br /><br /><br /></p>
    </div>
{% endblock %}
