{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<div class="alert alert-secondary" role="alert">
  <span>Your username and password didn't match. Please try again.</span>
</div>
  {% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <div class="alert alert-secondary" role="alert">
      <span>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</span>
    </div>
    {% else %}
    <div class="alert alert-secondary" role="alert">
      <span>Please login to see this page.</span>
    </div>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <button type="submit" class="btn btn-primary">Login</button>
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

<p><a href="{% url 'signup' %}">Create account</a></p>

<!-- {# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->

{% endblock %}
