{% extends 'base_generic.html' %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    <!-- {{ form.as_table }} -->
    {% for field in form %}
        <div class="fieldWrapper">
            <div class="alert alert-secondary" role="alert" hidden>
              <span>{{ field.errors }}</span>
            </div>
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
